Package: com.evilpenguin.networksniffer
Name: NetworkSniffer
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: iOS network sniffer
Maintainer: EvilPenguin
Author: EvilPenguin
Section: Tweaks
